<?xml version="1.0"?>
<launch>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="structure_tf" args="0.56, -0.015, 0.933 -0.49341236600133137, 0.50650196157267569, 0.5065019615726758, 0.49341236600133137 world camera_link" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="primsense_tf_publisher" args="0.69 0 0.97 0 1.57 1.57 world camera_link" /> -->
    <include file="$(find openni2_launch)/launch/openni2.launch"/>
   
</launch>
